header {
    padding-top: 50px;
    height: 155px;
    background-color: aqua;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}

h1 {
    margin-bottom: 16px;
}

header input {
    border-radius: 5px;
    height: 30px;
    
}

header input::placeholder {
    text-align: center;
    font-size: 18px;
}

header button {
    border-radius: 5px;
    font-size: 18px;

}

header span {
    font-size: 18px;
}

/* Notes Elemente */

.active_Notes {
    width: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.active_Notes_Color {
    background-color: aqua;
}

.done_Notes_Color {
    background-color: lightgreen;
}

.trash_Notes_Color {
    background-color: rgba(110, 65, 149, 0.709);
}

.notes_Button {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.actual_Notes {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}