* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin-left: 16px;
    margin-right: 16px;
}

h2 {
    border-bottom: 2px solid black;
    margin-bottom: 16px;
    margin-top: 8px;
}